<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <%- include('partials/head'); %>
</head>
<body>
    <h1><%= title %></h1>

    <a href="/entrada">Registro de entrada</a>
		<br>
		<a href="/salida">Registro de salida</a>
		<br>
		<a href="/visitantes">Registro de visitas</a>
</body>
</html>